<app-navbar></app-navbar>
<div class="container" >
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <label for="" class="form-label text-center"><h2>Gallery</h2></label>
                
                <div class="text-center">
                    <img src="https://www.nestdigital.com/images/amal-tumbnail-nest.png" class="rounded" alt="...">
                  </div>

                <div class="text-center">
                    <img src="https://www.nestdigital.com/images/press_meet_thumb.jpg" class="rounded" alt="...">
                  </div> 
                  
                  <div class="text-center">
                    <img src="https://www.nestdigital.com/images/ktu-on-board.png" class="rounded" alt="...">
                  </div>  
            </div>
        </div>
    </div>
</div>
