<app-adminnavbar></app-adminnavbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <label for="" class="form-label"><h2>Friends List</h2></label>
                <ng-container *ngIf="loading; then loadingScreen;else dataScreen"></ng-container>
                <ng-template #loadingScreen>  
                    
                      <button class="btn btn-primary" type="button" disabled>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Loading...
                      </button>
                </ng-template>
                <ng-template #dataScreen>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3" *ngFor="let i of data">
                        <div class="card" >
                            <div class="card-header">
                                Name: {{i.name}}
                            </div>
                            <ul class="list-group list-group-flush">
                              <li class="list-group-item">Friend Name: {{i.friendName}} </li>
                              <li class="list-group-item">Describe: {{i.DescribeYourFriend}} </li>
                              <li class="list-group-item">Nick Name: {{i.friendNickName}} </li>
                            </ul>
                          </div>
    
                    </div>
                </ng-template>


            </div>
            
        </div>
    </div>
</div>
